/*  
 * Theme Name: Ocadia
 * Theme URI: http://beccary.com/goodies/wordpress-themes/
 * Description: A two column blue-grey theme, clean yet stylish. 
 * Version: 1.3
 * Author: Becca Wei
 * Author URI: http://beccary.com
 * Drupal port: Scar_T (http://scarto.abshost.net)
 * Current maintainer: snpower (http://www.stellapowerdesign.net)
 **/

/* Basics */

body {
  margin: 0;
  padding: 0;
  background: #E6EEEE url('images/bg.gif') repeat-x;
  color: #333;
  font-size: 78%;
  font-family: "Lucida Sans Unicode", Tahoma, Geneva, sans-serif;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.2em 0;
}

ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.2em 0 1.2em 2em;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.2em 0;
  font-family: Georgia, serif; 
  color: #534B48; 
}

h1, h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

a:link {
  color: #59708C;
}

a:visited {
  color: #5C6C7D;
}

a:hover, a:active {
  color: #8CA0B4;
  text-decoration: none;
}

blockquote {
  margin: 0 20px;
  padding: 0.05em 20px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: url('images/commentalt.gif') repeat-y;
  font-size: 0.9em;
}

code {
  color: #666;
}

input, textarea, select {
  background-color: #FFF; 
  color: #333;
  font-size: 1em;
  font-family: "Lucida Sans Unicode", Tahoma, Geneva, sans-serif;
}

form, img {
  border: 0; 
  margin: 0; 
  padding: 0;
}


/* Layout */ 
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 760px;
  background: #FFF url('images/wrapper.gif') repeat-y;
  text-align: left;
}

#header {
  width: 760px;
  height: 132px;
  background: url('images/header.gif') no-repeat;
}


/* Header styles */
#header h1 {
  margin: 0;
  padding: 35px 0 0 40px;
  font-size: 2em;
  line-height: 40px;
}

#header h1 a {
  text-decoration: none;
}

#header p {
  margin: 0;
  padding: 5px 0 0 40px;
}

#header div.site-slogan {
  margin: 0;
  padding: 0px 0 0 80px;
  font-size: 1.5em;
  line-height: 30px;
  font-family: Georgia, serif;
  color: #5C6C7D;
}


/* Primary links */
#primary {
  position: relative;
  top: -80px;
  margin: 0px 40px 0 40px;
  padding: 0 0 0 0px;
  text-align: right;
  font-family: Georgia, serif;
  color: #5C6C7D;
}

#primary ul, li {
  background: none;
  list-style-type: none;
  list-style-image: none;
}

#primary.withslogan {
  top: -110px;
}


/* Secondary links */
#secondary {
  position: relative;
  top: -5px;
  margin: 0px 40px 0 40px;
  padding: 0 0 0 0px;
  text-align: right;
  font-family: Georgia, serif;
  color: #5C6C7D;
}

#secondary ul, li {
  background: none;
  list-style-type: none;
  list-style-image: none;
}

#secondary.withprimary {
  top: -2.5em;
}

#secondary.withprimaryslogan {
  top: -5.5em;
}

#secondary.withslogan {
  top: -35px;
}


/* Breadcrumb */
#breadcrumb {
  margin: 0;
  padding: 20px 0 0 0px;
}
 

/* Content */
#content {
  float: left;
  margin-top: -12px;
  padding: 0 10px 0 40px;
  width: 520px;
  min-height: 268px;
  background: url('images/content.gif') no-repeat;
  overflow: visible;
  voice-family: "\"}\""; 
  voice-family: inherit;
  width: 470px;
} 

html>body #content {
  width: 470px;
}


/* Lists */
ul.menu {
  margin: 1.2em 0 1.2em 0em;
}
li.leaf {
  padding: 0 0 0 0.8em;
  list-style-type: none;
  list-style-image: none;
  background: url('images/bullet.gif') no-repeat top left;
}

li.collapsed {
  padding: 0 0 0 0.8em;
  list-style-type: none;
  list-style-image: none;
  background: url('images/menu-collapsed.gif') no-repeat top left;
}

li.expanded {
  padding: 0 0 0 0.8em;
  list-style-type: none;
  list-style-image: none;
  background: url('images/menu-expanded.gif') no-repeat top left;
}


/* Sidebar */
#sidebar {
  float: left;
  width: 240px;
  background: url('images/sidebar.gif') no-repeat top right;
  font-size: 0.9em;
}

.block-bar {
  padding: 0 30px 20px 20px;
  background: url('images/sidebar-bottom.gif') no-repeat bottom left;
}

#sidebar-left,
#sidebar-right {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: url('images/sidebar2.gif') repeat-y;
}

#sidebar ul {
  padding: 0 0 0 0px;
  background: url('images/bullet.gif') no-repeat 2000px 0;
}

#sidebar ul ul {
  margin: 0;
  padding: 0 0 0 0.8em;
  background: none;
}

#sidebar h2 {
  margin: 0;
  padding: 1.2em 0px 0 20px;
  font-size: 1.1em;
  background: url('images/sidebar-top.gif') no-repeat;
}

#sidebar h2 a {
  color: #534B48;
  text-decoration: none;
}

#sidebar h2 a:hover {
  color: #59708C;
}

#sidebar h3 {
  margin: 0;
  padding: 1.2em 0px 0 0px;
  font-size: 0.9em;
}

#sidebar ul .item-list ul {
  background: url('images/bullet.gif') no-repeat 2000px 0;
}

#sidebar ul .item-list ul li {
  list-style-type: none;
  list-style-image: none;
  background: url('images/bullet.gif') no-repeat top left;
}

#sidebar ul a:hover {
  background: url('images/bullet.gif') no-repeat 2000px 0;
}

* html #content, * html #sidebar {
  overflow: hidden; /* For IE */
}


/* Footer */
#footer {
  clear: both;
  margin: 0 20px;
  padding: 25px 4px 0 4px;
  background: url('images/footer.gif') no-repeat;
}

#footer p {
  margin: 0;
  padding: 0.5em 20px;
  background-color: #999;
  font-size: 0.9em;
}

#footer a:hover, #footer a:active {
  color: #5C6C7D;
  text-decoration: none;
}

#footer .block-bar,
#footer h2 {
  background: none;
}
 

/* Blog */
.node a {
  text-decoration: none;
}

.info, .links {
  clear: both;
  font-size: 0.9em;
  margin: 0;
  padding: 0 0 0 30px;
  color: #999;
  background: url('images/deco.gif') no-repeat bottom left; 
}

ul.links {
  padding-left: 30px;
}

.content {
  margin: 0;
  padding: 1em 0 0.8em 0;
}


/* Comments */
#commentlist {
  margin: 1.2em 0;
  padding: 0;
  list-style-type: none;
}

#commentlist li {
  margin: 1em 0;
  padding: 0 20px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: url('images/comment.gif') repeat-y;
}

.commentalt {
  background: url('images/commentalt.gif') repeat-y !important;
}

.commentauthor {
  margin: 1em 0 0 0;
}

.commentauthor a {
  font-weight: bold;
}

.commentmeta {
  margin-top: 0;
  font-size: 0.9em;
}

#comment {
  width: 98%;
}


/* Search box */
#search {
  padding-left: 70%;
  background: url('images/search.gif') repeat-y;
}

#search label {
  display: none;
}

#search .form-text, #search .form-submit {
  font-size: 1.1em;
  vertical-align: middle;
}

#search .form-text {
  width: 8em;
  padding: 0 0.5em 0 0.5em;
}

/* Terms */
div.terms .links {
  background: none;
}


/* collapsible fieldset patch */
fieldset legend {
  display: block;
  padding-right: 0.2em;
  padding-left: 0.2em;
}
